<h1>{{capitalizedName}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{capitalizedName}}</dd>


  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{getHeroeDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>

<button *ngIf="name !=='capitan america'"
class="btn btn-primary mx-2" (click)="changeHeroe()" >Cambiar Nombre</button>
<button *ngIf="age !==38"
class="btn btn-primary mx-2" mx-2 (click)="changeAge()">Cambiar edad</button>


<button class="btn btn-primary mx-2" (click)="reset()">Resetear formulario</button>
