<h3>Lista de heroes </h3>
<div *ngIf="deletedHeroe; else nothingWasDeleted">
  <h3>Heroe borrado<small class="text-danger">{{deletedHeroe}}</small></h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada </h3>
</ng-template>


<button *ngIf="heroeNames.length > 0"
 class="btn btn-outline-danger" (click)="removeLastHeroe()">Borrar ultimo heroe</button>



<ul class="mt2 list-group">
  <li *ngFor="let name of heroeNames" class="list-group-item"><strong>{{name}}</strong></li>

</ul>

<hr>
